.add-friend {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-friend__inner {
  padding: 1.5em 2em;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.friend-username-input {
  margin-top: 1em;
  padding: .5em 1em;
  border: 1px solid gray;
  font-size: 1em;
}
.add-friend-btn {
  font-size: 1em;
  border: 1px solid rgb(12, 16, 66);
  background-color: rgb(12, 16, 66);
  padding: .5em 1em;
  margin-left: 3px;
  cursor: pointer;
  color: white;
}
.add-friend__dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
}
.add-friend__close-btn {
  color: red;
  font-size: 1em;
  cursor: pointer;
}