.call-page__change-effect {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-page__change-effect-inner {
  padding: 1em 2em;
  background-color: white;
  max-width: 360px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.effects {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}