.incoming-call {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.incoming-call-dialog {
  background-color: white;
  padding: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 20em;
}