.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 8em;
  width: 100%;
}
.header__title {
  font-family: 'The Nautigal', cursive;
  font-size: 3.5em;
  color: antiquewhite;
}
.header__username {
  font-size: .8em;
  margin: 1em 0;
  background-color: whitesmoke;
  padding: .3em .5em;
}